---
import { Button } from "./ui/button";
import {
  IconBrandGithub,
  IconBrandLinkedin,
  IconBrandX,
  IconCalendarEvent,
  IconMail,
} from "@tabler/icons-react";
import Contributions from "./Contributions.astro";
---

<section class="border-b">
  <div class="max-w-4xl mx-auto p-4 border-l border-r space-y-4">
    <p>
      me gusta crear aplicaciones que se sientan bien desde dentro hacia afuera: limpias, bien pensadas y agradables de usar. Me enfoco en que el código sea claro, mantenible y escalable, para que los proyectos crezcan sin perder su esencia.
    </p>
    <p>
      Aunque cuento con un stack principal, siempre estoy explorando nuevas herramientas y tecnologías. Me gusta mantenerme en movimiento, probar cosas nuevas y encontrar formas frescas de mejorar cada proyecto en el que trabajo.
    </p>

    <Button variant="default">
      <a href="https://meetzeen.com/nneshz" target="_blank">
        Agendar
      </a>
    </Button>
    <p class="text-muted-foreground">Puedes contactarme aquí:</p>
    <div class="flex flex-wrap gap-2">
      <Button variant="outline">
        <a href="https://github.com/nneshz" target="_blank">
          <IconBrandGithub className="inline w-5 h-5 mr-1" />
          GitHub
        </a>
      </Button>
      <Button variant="outline">
        <a href="https://www.linkedin.com/in/nneshz/" target="_blank">
          <IconBrandLinkedin className="inline w-5 h-5 mr-1" />
          LinkedIn
        </a>
      </Button>
      <Button variant="outline">
        <a href="https://x.com/nneshz" target="_blank">
          <IconBrandX className="inline w-5 h-5 mr-1" />
          Twitter
        </a>
      </Button>
      <Button variant="outline">
        <a
          href="mailto:nneftahdez@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <IconMail className="inline w-5 h-5 mr-1" />
          Correo
        </a>
      </Button>
    </div>

    <Contributions />
  </div>
</section>
