---
import Dither from "./ui/dither/dither.jsx";
---

<div class="border-b">
  <div class="max-w-4xl mx-auto h-32 p-4 border-l border-r">
    <Dither
      client:only="react"
      waveColor={[1, 1, 1]}
      enableMouseInteraction={false}
      waveAmplitude={0}
    />
  </div>
</div>
