---
import { logos } from "@/i18n/logos";
import Image from "astro/components/Image.astro";
import Section from "@/components/global/Section.astro";

const {
  stack: { logos: logosStack },
} = logos;

import { getLangFromUrl, useTranslations } from "@/i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section sectionLabel={t["stack.title"]}>
  <div
    class="w-full h-fit max-w-3xl flex flex-col justify-center select-none overflow-hidden gradient text-center pointer-events-none"
  >
    <div class="w-max flex flex-nowrap gap-[4rem] animate-slide-logos">
      {
        logosStack
          .concat(logosStack)
          .map((logo) => (
            <div class="size-20 flex items-center justify-center">
              <Image
                src={logo.src}
                alt={logo.alt}
                width={64}
                height={64}
                loading="eager"
                class="max-w-full max-h-full object-contain"
              />
            </div>
          ))
      }
    </div>
  </div>
</Section>

<style>
  .gradient {
    mask: linear-gradient(
      90deg,
      transparent,
      black 20%,
      black 80%,
      transparent
    );
    webkitmask: linear-gradient(
      90deg,
      transparent,
      black 20%,
      black 80%,
      transparent
    );
  }
</style>