---
import BaseHead from "@/components/global/BaseHead.astro";
import LanguagePicker from "@/components/global/LanguagePicker.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
import "@fontsource/geist-sans";

import { getLangFromUrl } from "@/i18n";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} class="scroll-smooth font-geist-sans">
  <head>
    <BaseHead />
  </head>
  <body class="flex flex-col min-h-screen mx-auto 2xl:max-w-screen-xl relative">
    <LanguagePicker />
    <Navigation />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>